.app {
  //тестовый режим :) потом поищу как эту руку вниз прицепить, ограничен по времени пока;
  display: block;
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat center , url(../img/bg-back-mobile@1x.jpg) no-repeat;
  height: 463px;
  background-color: #283645;
  background-size: auto ,cover;
}
.app__download {
  display: block;
  font-size: 18px;
  max-width: 280px;
  padding: 20px 0;
  border: 3px solid #fff;
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
  margin: 0 auto 20px;
  color:#fff;
  text-align: center;
  border-radius: 30px;
}
.app__discription {
  text-align: center;
  color:#ffff;
  font-weight: 100;
}
