.feature-research {
  display: none;
}

@media (min-width: 660px) {
  .feature-research__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .feature-research {
    display: block;
    padding: 50px 20px 40px;
    margin: 0;
  }

  .feature-research__item {
    max-width: 300px;
    position: relative;
    margin-left: 330px;
  }

  .feature-research__discription {
    margin: 0 0 20px 0;
  }

  .feature-research__link {
    color: #d22856;
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .feature-research {
    background-color: #f2f2f2;
    padding: 65px 20px 90px;
  }

  .feature-research__item {
    max-width: 550px;
    margin-left: 600px;
  }

  .feature__br {
    display: none;
  }

  .feature-research__discription {
    font-size: 18px;
    line-height: 30px;
  }

  .feature-research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
