.feature__head {
  padding: 20px 20px 0;
}

.feature__slogan br {
  display: none;
}

.feature__slogan {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  margin: 20px auto 27px;
  max-width: 210px;
}

.feature__wrapper {
  position: relative;
  margin-bottom: 0;
  padding: 50px 0 0;
  text-align: center;
  background: url("../img/bg-triangle-white.svg") no-repeat center -20px;
  background-color: #f2f2f2;
}

.feature__container {
  background-color: #f2f2f2;
}

.feature__list {
  list-style: none;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.feature__title {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  margin: 0 0 20px;
}

.feature__discription {
  margin: 0 0 45px;
}

.feature__discription :last-child {
  margin-bottom: 0;
}

@media (max-width: 659px) {
  .feature__item--iphone3 {
    &::after {
      content: "";
      display: block;
      height: 330px;
      background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 50px;
      background-size: 270px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/iphone-screen-mobile@2x.png") no-repeat center 50px;
        background-size: 270px;
      }
    }
  }
}

@media (min-width: 660px) {
  .feature__head {
    padding: 60px 0;
    text-align: center;
  }

  .feature__slogan {
    font-size: 40px;
    max-width: 600px;
    margin: 0 auto;
    line-height: normal;
  }

  .feature__slogan br {
    display: inline-block;
  }

  .feature__list {
    flex: 0 0 320px;
    padding-left: 50%;
    text-align: left;
    position: relative;
  }

  .feature__item--iphone3 {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -350px;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 300px;
      height: 530px;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat center 50px;
      background-size: 270px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/iphone-screen-3-tablet@2x.png") no-repeat center 50px;
        background-size: 270px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .feature__list {
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      content: "";
      display: none;
    }
  }

  .feature__slogan {
    font-size: 50px;
  }

  .feature__wrapper {
    padding: 120px 0 0;
    background: url("../img/bg-triangle-white.svg") no-repeat center -1px;
    background-color: #f2f2f2;
  }

  .feature__item {
    flex: 0 0 250px;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;

    &::before {
      content: "";
      display: block;
      width: 242px;
      height: 305px;
      margin: 0 auto;
    }
  }

  .feature__item--iphone1 {
    &::before {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center bottom;
      background-size: 290px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat center bottom;
        background-size: 290px;
      }
    }
  }

  .feature__item--iphone2 {
    &::before {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center bottom;
      background-size: 290px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat center bottom;
        background-size: 290px;
      }
    }
  }

  .feature__item--iphone3 {
    &::before {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center bottom;
      background-size: 290px;
      position: inherit;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat center bottom;
        background-size: 290px;
      }
    }
  }

  .feature__title {
    font-size: 30px;
    margin-top: 60px;
  }
}
