.fieldset-contacts {
  margin: 0;
  border: none;
  padding: 35px 20px 21px;
}

.fieldset-contacts__title {
  display: none;
}

.fieldset-contacts__item {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0 auto 20px;
}

.fieldset-contacts__discripton {
  color: #de6183;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 23px;
  display: inline-block;
  margin-bottom: 13px;
}

.fieldset-contacts__input {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;

  &:hover {
    border: 2px solid #283645;
    outline: none;
  }

  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }
}

.fieldset-contacts__icon {
  display: none;
}

@media (min-width: 660px) {
  .fieldset-contacts {
    border: 2px solid #e5e5e5;
    margin: 0 20px;
    order: 1;
    padding: 30px 60px 0;
  }

  .fieldset-contacts__title {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    color: #de6183;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    width: 260px;
  }
  .fieldset-contacts__discripton {
    padding: 0;
    margin: 17px 0 17px 17px;
  }
  .fieldset-contacts__item {
    display: flex;
    flex-wrap: wrap;
  }

  .fieldset-contacts__input {
    order: -1;
    flex: 1 0 88%;
  }

  .fieldset-contacts__icon {
    display: block;
    width: 62px;
    height: 63px;
    background-color: #f2f2f2;
    flex: 1 0 12%;
  }

  .fieldset-contacts__icon--number {
    background: url("..//img/icon-phone.svg") no-repeat center;
    background-color: #f2f2f2;
  }

  .fieldset-contacts__icon--mail {
    background: url("..//img/icon-mail.svg") no-repeat center;
    background-color: #f2f2f2;
  }
}

@media (min-width: 1200px) {
  .fieldset-contacts__desctop {
    display: flex;
  }

  .fieldset-contacts__item {
    width: 375px;
  }
}
