.fieldset-achievements {
  border: none;
  background-color: #f2f2f2;
  padding: 40px 10px 10px;
}

.fieldset-achievements__title {
  text-transform: uppercase;
  color: #d22856;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.fieldset-achievements__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset-achievements__item {
  margin-bottom: 40px;
}

.fieldset-achievements__discription {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
