.fieldset-name {
  border: none;
  padding: 37px 0 22px;
}

.fieldset-name__item {
  display: block;
  text-align: left;
  width: 280px;
  margin: 0 auto 20px;
}

.fieldset-name__name {
  display: inline-block;
  color: #de6183;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 12px;
}

.fieldset-name__input {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;

  &:hover {
    border: 2px solid #283645;
    outline: none;
  }

  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }

}

@media (min-width: 660px) {
  .fieldset-name__container {
    order: 1;
  }

  .fieldset-name__item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .fieldset-name__name {
    margin: 0 20px 0 0;
  }

  .fieldset-name__input {
    flex: 1 0 75%;
  }
}

@media (min-width: 1200px) {
  .fieldset-name__container {
    width: 435px;
    margin: 0;
  }

  .fieldset-name__item {
    margin-bottom: 55px;
  }
}
