.fieldset-achievements__wrapper {
  background-color: #f2f2f2;
}

.fieldset-achievements {
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  padding: 0;
}

.fieldset-achievements__input {
  display: none;
}

.fieldset-achievements__check {
  display: flex;
}

.fieldset-achievements__checkbox {
  width: 38px;
  height: 38px;
  margin-right: 30px;
  position: relative;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

  &:hover {
    border: 2px solid #283645;
    outline: none;
  }

  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }
}

.fieldset-achievements__input:checked + .fieldset-achievements__checkbox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("..//img/icon-yes.svg") no-repeat center;
    width: 35px;
    height: 35px;
  }
}

.fieldset-achievements__title {
  text-transform: uppercase;
  color: #de6183;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  background-color: #f2f2f2;
  padding: 37px 40px 38px;
}
  
.fieldset-achievements__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.fieldset-achievements__item {
  display: flex;
  margin-bottom: 40px;
}

.fieldset-achievements__discription {
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}

@media (min-width: 660px) {
  .fieldset-achievements {
    border: 2px solid #e5e5e5;
    margin: 50px 20px 0;
    background-color: #ffffff;
    order: 2;
  }

  .fieldset-achievements__title {
    display: block;
    margin: 0 auto 35px;
    line-height: 30px;
    width: 436px;
    padding: 0;
    background-color: #ffffff;
  }

  .fieldset-achievements__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px 8px;
  }
  .fieldset-achievements__checkbox {
    margin-right: 19px;
    width: 38px;
    height: 39px;
  }
}

@media (min-width: 1200px) {
  .fieldset-achievements__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fieldset-achievements__wrapper {
    margin: 0;
  }

  .fieldset-achievements__item {
    flex-basis: 265px;
  }

  .fieldset-achivements__checkbox {
    margin-right: 22px;
  }

  .fieldset-achievements__item--achiev1 {
    order: 1;
  }

  .fieldset-achievements__item--achiev2 {
    order: 4;
  }

  .fieldset-achievements__item--achiev3 {
    order: 2;
  }

  .fieldset-achievements__item--achiev4 {
    order: 5;
  }

  .fieldset-achievements__item--achiev5 {
    order: 3;
  }

  .fieldset-achievements__item--achiev6 {
    order: 6;
  }
}
