.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.main-nav__toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
  width: 70px;
  height: 70px;
  border: none;
  z-index: 9;
  cursor: pointer;
  outline: none;
  background-color: transparent;

  &:hover {

    svg {
      fill: #d22856;
    }
  }
  
  &:active {

    svg {
      fill: #d22856;
      opacity: 0.3;
    }
  }
  
  svg {
    fill: #ffffff;
  }
}

.main-nav__item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.main-nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  padding: 23px 25px 22px;
}

@media (min-width: 660px) {
  .main-nav__toggle {
    top: 20px;
  }
}

@media (min-width: 960px) {
  .main-nav {
    flex: 0 0 622px;
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    border: 0;  
  }

  .main-nav__item {
   border: 0;
  }
  
  .main-nav__item--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      height: 2px;
      background: #ffffff;
    }
  }

  .main-nav__link {
    min-height: 0;
    padding: 0;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &:hover {
      color:#d22856;
    }

    &::active {
      color: #ffffff;
      opacity: 0.3;
    }
  }
}
