.page-title {
  box-sizing: border-box;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top;
  text-align: center;
  padding: 96px 20px 51px;
}

.page-title__discription {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 100;
  width: 235px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .page-title {
    min-height: 440px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat top;
    padding: 120px 0 20px;
  }

  .page-title__discription {
    font-size: 50px;
    width: 620px;
    line-height: 63px;
  }
}

@media (min-width: 1200px) {
  .page-title {
    padding: 130px 0 40px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center top;
    background-color: #1d2631;
  }

  .page-title__discription {
    width: 750px;
  }
}
