.page-form {
  padding: 33px 0 30px;
  text-align: center;
}
.page-form__title {
  margin: 50px auto 55px;
  text-align: center;
}
.page-form__slogan {
  line-height: 30px;
  margin: 0;
}
.page-form__slogan--form {
  display: none;
}
.fieldset-apps__wrap {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  align-items: flex-start;
}
.fieldset-apps__item {
  align-items: center;
  margin: auto 0 40px;
}

.page-form__button {
  box-sizing: border-box;
  margin: 20px auto 20px;
  width: 280px;
  padding: 23px 0;
  border: none;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.page-form__required {
  display: block;
  line-height: 30px;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .fieldset-apps {
    margin: 40px 0 60px;
    padding: 33px 10px;
    border: 2px solid #e5e5e5;
    background: #ffffff;
  }
  .page-form__title {
    font-size: 18px;
    line-height: 30px;
    width: 490px;
  }

  .page-form__slogan--form {
    display: inline;
  }

  .fieldset-name__item {
    display: flex;

  }
}