.page-header {
  min-width: 320px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  box-sizing: border-box;

}

.page-header__wrapper {
  position: relative;
  height: 70px;
  background-color: #283645;
}

.page-header__logo {
  display: block;
  max-width: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  height: auto;
}

@media (min-width: 660px) {
  .page-header__wrap {
    height: 110px;
  }

  .page-header__logo {
    position: absolute;
    top: 25px;
    left: 40px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    min-height: 110px;
    position: absolute;
  }

  .page-header__wrapper {
    height: 0;
  }

  .page-header__logo {
    left: 130px;
    top: 40px;
  }
}
