.page-header {
  margin-bottom: -70px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  padding: 0;
  background-color: #283645;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 70px;
  padding-left: 20px;
}

.page-header__logo--mobile {
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }
}

.page-header__logo--tablet {
  display: none;
}

.page-header__logo--desktop {
  display: none;
}

@media (min-width: 660px) {
  .page-header__logo {
    height: 110px;
    width: 170px;
  }

  .page-header__logo--mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .page-header {
    position: relative;
    min-height: 110px;
    margin-bottom: -110px;
    padding: 27px 0 43px;
  }

  .page-header__wrapper {
    display: flex;
    align-items: flex-end;
    background-color: transparent;
  }

  .page-header__logo {
    width: auto;
    margin-right: 20px;
    height: 40px;
    align-items: flex-end;
  }

  .page-header__logo--tablet {
    display: none;
  }

  .page-header__logo--desktop {
    display: block;
  }
}
