//можно создать отдельный div всего блока для цвета
.photo-form__slogan {
  display: block;
  margin: 50px auto 35px;
  text-align: center;
  line-height: 30px;
}

.photo-form__pic {
  text-align: center;
  padding: 20px 20px;
  background-color: #f2f2f2;
}

.photo-form__container {
  background-color: #f2f2f2;
}

.photo-form__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  width: 200px;
}

.photo-form__item {
  display: inline-block;
}

.photo-form__item input {
  display: none;
}

.photo-form__item label {
  display: inline-block;
}

.photo-form__contrast {
  margin-top: 5px;
}

.photo-form__crop  {
  fill: #b5b9be;
  &:hover {
    fill: #8f969d;
  }
}

.photo-form__fill  {
  fill: #b5b9be;
  &:hover {
    fill: #8f969d;
  }
}

.photo-form__contrast  {
  fill: #b5b9be;
   &:hover {
     fill: #8f969d;
  }
 }

//приблизительно для тумблера
.photo-form__toggle {
  width: 240px;
  height: 18px;
  margin: 0 auto 30px;
  background-color: #f2f2f2;
}
.photo-form__range {
  margin: 0 auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #dddfe0;
  width: 240px;
  height: 18px;
  background-color: transparent;
  outline: none;
  border: none;
}

.photo-form__buttons {
  background-color: #f2f2f2;
  margin: 40px auto 0;
}

.photo-form__button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  min-width: 280px;
  background-color: transparent;
  outline: none;
}

.photo-form__button--submit {
  color: #d22856;
  border: 3px solid #d22856;
}

.photo-form__button--reset {
  color: #b5b9be;
  border: 3px solid #b5b9be;
  opacity: 0.6;
}

@media (min-width: 660px) {
  .photo-form__slogan {
    margin: 50px 120px 75px;
    font-size: 18px;
    line-height: 30px;
  }

}
