//можно создать отдельный div всего блока для цвета
.photo-form__slogan {
  display: block;
  margin: 50px auto 35px;
  text-align: center;
  line-height: 30px;
}
.photo-form__wrapper {
  background-color: #f2f2f2;
}

.photo-form__pic {
  padding: 20px 0 40px;
}

.photo-form__container {
  background-color: #f2f2f2;
}

.photo-form__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  margin-bottom: 30px;
}

.photo-form__item {
  display: inline-block;
}

.photo-form__item button {
  padding: 0;
  background-color: #f2f2f2;
  border: 0;
  outline: none;
}

.photo-form__item label {
  display: inline-block;
}

.photo-form__contrast {
  margin-top: 5px;
}

.photo-form__crop  {
  fill: #b5b9be;
  &:hover {
    fill: #8f969d;
  }
  &:active {
    fill: #d22856;
  }
}
.photo-form__crop--active  {
  fill: #d22856;
}
.photo-form__fill  {
  fill: #b5b9be;
  &:hover {
    fill: #8f969d;
  }
  &:active {
    fill: #d22856;
  }
}
.photo-form__contrast  {
  fill: #b5b9be;
   &:hover {
     fill: #8f969d;
  }
  &:active {
    fill: #d22856;
  }
 }


.photo-form__range {
  background-color: #000000;
  height: 1px;
  width: 240px;
  margin: 0 auto;
}
.photo-form__range-container {
  position: relative;
}

.photo-form__range-container--crop button {
    display: block;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid #bd0f0f;
    text-decoration: none;
    background-color: #ffffff;
    right: 100px;
    top: -6px;
  }

.photo-form__range-container--fill {
  display: none;

}

.photo-form__range-container--contrast {
  display: none;
}

.photo-form__buttons {
  background-color: #f2f2f2;
  margin: 40px auto 0;
}

.photo-form__button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  min-width: 280px;
  background-color: transparent;
  outline: none;
}

.photo-form__button--submit {
  color: #d22856;
  border: 3px solid #d22856;
}

.photo-form__button--reset {
  color: #b5b9be;
  border: 3px solid #b5b9be;
  opacity: 0.6;
}

@media (min-width: 660px) {
  .photo-form__slogan {
    margin: 50px 120px 75px;
    font-size: 18px;
    line-height: 30px;
  }
  .photo-form__list {
    display: none;
  }

  .photo-form__pic {
    position: absolute;
  }
  .photo-form__container {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
  }
  .photo-form__range-container {
    padding: 25px 0;
    border-bottom: 1px solid #bd0f0f;
  
  }
  .photo-form__range {
    background-color:  #000000;
    height: 1px;
    width: 240px;
    margin: 0 auto;
  }
  .photo-form__range-container--crop {
    display: block;
    margin-top: 65px;
  }

  .photo-form__range-container--fill {
    display: block;
  }

  .photo-form__range-container--contrast {
    display: block;
  }
  .photo-form__range {
    &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -47px;
    width: 45px;
    height: 45px;
    }
  }
  .photo-form__range--crop::before {

    background: url("..//img/icon-editor-crop.svg") no-repeat center;
  }

}
