//можно создать отдельный div всего блока для цвета
.photo-form__slogan {
  display: block;
  padding: 50px 35px;
  text-align: center;
  line-height: 30px;
  margin: 0px;
}
.photo-form__pic {
  text-align: center;
  padding: 20px 20px;
  background-color: #f2f2f2;
}
.photo-form__list {
  list-style: none;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}
//приблизительно для тумблера
.photo-form__toggle {
  width: 240px;
  height: 18px;
  margin: 0px auto 30px;
  background-color: #f2f2f2;
}
.photo-form__buttons {
  background-color: #f2f2f2;
  margin: 40px auto;
}
.photo-form__button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  min-width: 280px;
  background-color: transparent;
  outline: none;
}
.photo-form__button--submit {
  color: #d22856;
  border: 3px solid #d22856;
}
.photo-form__button--reset {
  color: #b5b9be;
  border: 3px solid #b5b9be;
  opacity: .6;
}
