.pics__slogan {
  display: block;
  margin: 0px;
  margin: 50px auto 55px;
  line-height: 30px;
  text-align: center;
}
.pics-review__list {
  list-style: none;
}
.pics-review__item{
  max-width: 300px;
  background-color: #f2f2f2;

}
.pics-review__item--panorama {
  max-width: 320px;
  //name и time в отдельный div для помещения в одну строчку?
}
.pics-review__name {
  font-weight: 700;
  margin: 0px;
}
.pics-review__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
}
.pics-review__discription {
  display: block;
  margin: 13px 20px;
}
.pics-review__like {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
