.review__wrapper {
  position: relative;
  padding: 45px 20px;
}


.review__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.review__name {
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 15px 0;
  color: #000;
  font-size: 18px;
}

.review__occupation {
  display: none;
}

.review__description {
  margin: 0;
  line-height: 30px;
}

@media (min-width: 660px) {
  .review__occupation {
    display: block;
    line-height: 30px;
  }

  .review__item {
    display: flex;
    flex-direction: column;
  }

  .review__description {
    order: -1;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .review__name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .review__list {
    margin-top: 150px;
  }

  .review__list {
    &::before {
      content: '';
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background: #fff url(../img/icon-quotes.svg) no-repeat center;
    }  
  }

  .review__description {
    margin: 0 120px 50px;
  }

  .review__name {
    font-size: 24px;
  }

  .review__occupation {
    font-size: 18px;
  }
}
