body {
  margin: 0 auto;
  background-color: #ffffffff;
  color: #283645;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
